*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(./galaxy.jpg);
    background-color: black;
    background-size: cover;
}
.orbit {
    position: relative;
    width: 300px; 
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sun{
    height:100px;
    width: 100px;
    border-radius:50%;
    background-image: url(./sun.png);
    background-size:cover;
    background-repeat: no-repeat;
    position:absolute;
}
.mercury{
    height:30px;
    width: 30px;
    border-radius:50%;
    background-image:url(./mercury.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: mercury 3s linear infinite;
}
.orbital-mercury {
    height: 160px; 
    width: 160px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}
@keyframes mercury {
    from {
        transform: rotate(0deg) translateX(80px);
    }
    to {
        transform: rotate(360deg) translateX(80px);
    }
}

.venus{
    height:40px;
    width: 40px;
    border-radius:50%;
    background-image:url(./venus.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: venus 5s linear infinite;
}
.orbital-venus {
    height: 240px; 
    width: 240px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}

@keyframes venus {
    from {
        transform: rotate(0deg) translateX(120px);
    }
    to {
        transform: rotate(360deg) translateX(120px);
    }
}

.earth{
    height:50px;
    width: 50px;
    border-radius:50%;
    background-image:url(./earth.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation:earth 7s linear infinite;
}
.orbital-earth {
    height: 320px; 
    width: 320px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}

@keyframes earth {
    from {
        transform: rotate(0deg) translateX(160px);
    }
    to {
        transform: rotate(360deg) translateX(160px);
    }
}


.mars{
    height:40px;
    width: 40px;
    border-radius:50%;
    background-image:url(./mars.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: mars 9s linear infinite;
}
.orbital-mars {
    height: 400px; 
    width: 400px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}

@keyframes mars {
    from {
        transform: rotate(0deg) translateX(200px);
    }
    to {
        transform: rotate(360deg) translateX(200px);
    }
}

.jupiter{
    height:60px;
    width: 60px;
    border-radius:50%;
    background-image:url(./jupiter.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation:jupiter 11s linear infinite;
}
.orbital-jupiter {
    height: 480px; 
    width: 480px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}

@keyframes jupiter {
    from {
        transform: rotate(0deg) translateX(240px);
    }
    to {
        transform: rotate(360deg) translateX(240px);
    }
}

.saturn{
    height:55px;
    width: 55px;
    border-radius:50%;
    background-image:url(./saturn.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation:saturn 13s linear infinite;

}
.orbital-saturn {
        height: 560px; 
        width: 560px;
        border-radius: 50%;
        border: 1px dashed white;
        position: absolute;
    }

@keyframes saturn {
    from {
        transform: rotate(0deg) translateX(280px);
    }
    to {
        transform: rotate(360deg) translateX(280px);
    }
}

.uranus{
    height:50px;
    width: 50px;
    border-radius:50%;
    background-image:url(./uranus.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation:uranus 15s linear infinite;
}
.orbital-uranus {
    height:640px; 
    width: 640px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}

@keyframes uranus {
    from {
        transform: rotate(0deg) translateX(320px);
    }
    to {
        transform: rotate(360deg) translateX(320px);
    }
}

.neptune{
    height:50px;
    width: 50px;
    border-radius:50%;
    background-image:url(./neptune.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation:neptune 17s linear infinite;
}
.orbital-neptune {
    height: 720px; 
    width: 720px;
    border-radius: 50%;
    border: 1px dashed white;
    position: absolute;
}

@keyframes neptune {
    from {
        transform: rotate(0deg) translateX(360px);
    }
    to {
        transform: rotate(360deg) translateX(360px);
    }
}


